@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: 0 100% 99%;

  --dusty-pink: 342 100% 95%;
  --bulldog-red: 348 88% 39%;
  --barely-pink: 345 100% 98%;
  --dev-dog-blue: 240 20% 25%;
  --nearly-black: 45 6% 13%;
  --midnight-blue: 240 20% 17%;
  --grout-gray: 0 5% 52%;
  --glory-glory-red: 349 100% 45%;
  --mud-gray: 346 7% 37%;
  --pebble-gray: 346 9% 63%;
  --limestone: 20 12% 81%;
  --baby-blue: 180 33% 89%;
  --lake-herrick: 183 100% 34%;
  --gold: 22 89% 79%;
  --peach: 0 65% 69%;
  --wave: 184 52% 63%;
}

.shadow-inner-scroll-y {
  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
    
    /* Shadows */
    radial-gradient(farthest-side at 50% 0, hsla(var(--grout-gray) / .4), hsla(var(--grout-gray) / 0)),
    radial-gradient(farthest-side at 50% 100%, hsla(var(--grout-gray) / .4), hsla(var(--grout-gray) / 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 3.75rem, 100% 3.75rem, 100% 1.25rem, 100% 1.25rem;
  
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.OuterRingAnimation {
  /* background: black; */
  text-align: center;

  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.OuterRingAnimation::after,
.OuterRingAnimation::before {
  content: "";
  position: absolute;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    red,
    blue,
    yellow,
    green,
    red
  );
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: inherit;
  animation: 3s spin linear infinite;
}

.OuterRingAnimation::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
